* {
  margin:0;
}

.app{
  background-color: #fafafa;
}
.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app_headerImage{
  object-fit: contain;
}
.app_posts{
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  padding: 20px;
}
.app_signup{
  display: flex;
  flex-direction: column;
}

.app_signin{
  display: flex;
  flex-direction: column;
}

.app_login{
  display: flex;
  justify-content: space-between;
}